{% include 'employee/header.html' %}
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            Overview
          </div>
          <h2 class="page-title">
            Employee > Home
          </h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">
      <div class="row row-deck row-cards">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">My Profile</h3>
            </div>

            <div class="card-body border-bottom py-3">
              <!-- MAIN CONTENT HERE -->
              <div class="row row-cards">

                <div class="col-md-12">
                  <div class="row">
                    <div class="mb-3">
                      <div class="row">
                        <div class="col-auto">

                          <label for="imageInput" class="">
                            <span class="avatar avatar-md avatarPreview"
                              style="background-image: url(/static/avatars/admin.jpg)"></span>
                          </label>
                          <input type="file" id="imageInput" accept=".png, .jpg, .jpeg" style="display: none;">

                        </div>
                        <div class="col-3">
                          <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input class="form-control" id="emp_name" placeholder="Name" readonly>
                          </div>
                        </div>

                        <div class="col-3">
                          <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input class="form-control" id="emp_email" placeholder="Email" readonly>
                          </div>
                        </div>

                        <div class="col-3">
                          <div class="mb-3">
                            <label class="form-label">Phone</label>
                            <input class="form-control" id="emp_phone" placeholder="Phone" readonly>
                          </div>
                        </div>

                        <div class="col-2">
                          <div class="mb-3">
                            <label class="form-label">Gender</label>
                            <select class="form-select" id="emp_gender">
                              <option value="0">Male</option>
                              <option value="1">Female</option>
                              <option value="2">Other</option>
                            </select>
                          </div>
                        </div>

                      </div>
                    </div>


                    <div class="col-md-10">
                      <div class="mb-3">
                        <label class="form-label">Address</label>
                        <textarea class="form-control" placeholder="Home Address" id="emp_address"></textarea>
                        <!-- <span id="emp_address_error" class="hide text-danger">* Enter valid address</span> -->
                      </div>
                    </div>

                    <div class="col-md-2">
                      <div class="mb-3">
                        <label class="form-label">&nbsp;</label>
                        <button type="button" onclick="update_address()" class="btn btn-primary">Update Address</button>
                      </div>
                    </div>

                  </div>

                  <div class="row row-cards">
                    <u>
                      <h3 class="card-title mt-3">Career (Profile)</h3>
                    </u>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label">Organization Name</label>
                        <input type="text" class="form-control" placeholder="Organization Name" id="orgname">

                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label">Designation</label>
                        <input type="text" class="form-control" placeholder="Designation" id="designation">

                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label">Responsibility</label>
                        <input type="text" class="form-control" placeholder="Responsibility" id="responsibility">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label">Salary(LPA)</label>
                        <input type="number" class="form-control" placeholder="Salary" id="salary">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label">City</label>
                        <input type="text" class="form-control" placeholder="City" id="orgcity">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label">Total No. Of Experience (Yrs)</label>
                        <input type="text" class="form-control" placeholder="Experience" id="expyears">

                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="mb-3">
                      <label class="form-label">Skills</label>
                      <textarea readonly class="form-control" placeholder="Skills" id="skills"></textarea>
                      <span id="skillserror" class="hide text-danger">* Enter valid Skills</span>
                    </div>
                  </div>

                  <div class="row row-cards">
                    <u>
                      <h3 class="card-title mt-3">Academic Profile (Latest)</h3>
                    </u>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label">College Name</label>
                        <input type="text" class="form-control" placeholder="College Name" id="collegename">
                        <span id="collegenameerror" class="hide text-danger">* Enter valid college
                          name</span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label">Course</label>
                        <input type="text" class="form-control" placeholder="Course" id="course">
                        <span id="courseerror" class="hide text-danger">* Enter valid course</span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label">Score</label>
                        <input type="number" class="form-control" placeholder="Score" id="score">
                        <span id="scoreerror" class="hide text-danger">* Enter valid score or grade</span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label">Affilated University</label>
                        <input type="text" class="form-control" placeholder="Affilated University"
                          id="affilateduniversity">
                        <span id="affilateduniversityerror" class="hide text-danger">* Enter valid
                          university name</span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label">Academic Year</label>
                        <input type="number" class="form-control" placeholder="Academic Year" id="academicyear">
                        <span id="academicyearerror" class="hide text-danger">* Enter valid academic
                          year</span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="mb-3">
                        <label class="form-label">City</label>
                        <input type="text" class="form-control" placeholder="City" id="colcity">
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-start">
              <button type="button" id="updateemployeebutton" class="btn btn-primary">Update
                Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% include 'employee/footer.html' %}

<script>
  var userdata = null;
  $(document).ready(function () {

    $.getJSON('/api/employees/whoami', function (data) {
      if (data.error) {
        alert('Failed to fetch profile data');
        return;
      }
      userdata = data.data;
      document.getElementById('emp_name').value = userdata[0][0];
      document.getElementById('emp_email').value = userdata[0][1];
      document.getElementById('emp_gender').value = userdata[0][2];
      document.getElementById('emp_phone').value = userdata[0][3];
    });

    $.getJSON('/api/employees/getCurrentAddress', function (data) {
      if (data.error) {
        alert('Failed to fetch profile data');
        return;
      }
      userdata = data.data;
      document.getElementById('emp_address').value = userdata
    });

  });

  function update_address() {
    var address = document.getElementById('emp_address').value;
    if (address == '') {
      alert('Address cannot be empty');
      return;
    }
    $.ajax({
      url: '/api/employees/updateAddress',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({
        new_address: address
      }),
      success: function (output) {
        if (!output.error) {
          alert('Address updated successfully');
          location.reload();
        } else {
          alert('Failed to update address');
        }
      },
      error: function (xhr, status, error) {
        alert('Failed to update address');
      }
    });
  }
</script>