{% include 'employee/header.html' %}
<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            Overview
          </div>
          <h2 class="page-title">
            Employee > Sample
          </h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Page body -->
  <div class="page-body">
    <div class="container-xl">
      <div class="row row-deck row-cards">
        <div class="col-sm-12">
          <div class="card">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Sampel Page</h3>
              </div>

              <div class="card-body">
                <!-- MAIN CONTENT HERE -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% include 'employee/footer.html' %}